[user]
	name = Matthew Ibbetson
	email = mmibbetson@gmail.com
	username = mmibbetson
[init]
	defaultBranch = main
[alias]
	ad = add
	#############
	br = branch
	#############
	co = commit
	#############
	di = diff
	#############
	fe = fetch
	#############
	ch = checkout
	#############
	ps = push
	#############
	pl = pull
	#############
	rb = rebase
	#############
	st = status
	#############
